
body {
    background-image: url('CasinoSlots.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.board {
    width: 500px;
    height: 650px;
    background-color: #333;
    border: 2px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}



.ball {
    width: 20px;
    height: 20px;
    background-color: red;
	border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    animation: fall 2s linear infinite;
}


@keyframes fall {
    0% {
        top: -20px;
    }
    100% {
        top: 600px;
    }
}

.ball:nth-child(1) {
    left: 20px;
    animation: regular-shot 3s linear infinite;
}


.ball:nth-child(2) {
    left: 180px;
    animation: middle-shot 2s linear infinite;
}


.ball:nth-child(3) {
    left: 340px;
    animation:  trick-shot  3s linear infinite;
}

@keyframes regular-shot {
    0% {
        top: -20px;
        left: 100px;
    }
    25% {
        top: 110px;
        left: 100px;
    }
    50% {
        top: 260px;
        left: 20px;
    }
    75% {
        top: 400px;
        left: 110px;
    }
	100% {
        top: 790px;
        left: 20px;
    }
}

@keyframes middle-shot {
     0% {
        top: -20px;
        left: 180px;
    }
	50% {
        top: 360px;
        left: 200px;
    }
	100% {
        top: 800px;
        left: 150px;
    }
}

@keyframes trick-shot {
     0% {
        top: -20px;
        left: 475px;
    }
    50% {
        top: 150px;
        left: 20px;
    }
    
	100% {
        top: 650px;
        left: 425px;
    }
}

.bumper1 {
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 50%;
	margin-top: 160px;
  margin-left: 85px;
}
.bumper2 {
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 50%;
	margin-top: -28px;
  margin-left: 375px;
}
.bumper3 {
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 50%;
	margin-left: 20px;
  margin-top: 100px;
}
.bumper4 {
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 50%;
	margin-top: -28px;
  margin-left: 220px;
}
.bumper5 {
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 50%;
	margin-top: -60px;
  margin-left: 440px;
}
.bumper6 {
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 50%;
	margin-top: 100px;
  margin-left: 120px;
}
.bumper7 {
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 50%;
	margin-top: -35px;
  margin-left: 330px;
}
.endPoleLeft {
    left: 30px;
    width: 20px;
  height: 60px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 0%;
	margin-top: 115px;
  margin-left: 330px;
}
.endPoleRight {
    left: 30px;
    width: 20px;
  height: 60px;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 0%;
	margin-top: -63px;
	margin-left: 125px;
}

.left-text {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 44px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.right-text {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 44px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.home-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: black; 
    color: yellow; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button:hover {
    background-color: yellow; 
}

.game-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black; 
    color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none; 
    cursor: pointer;
}

 
.game-button:hover {
    background-color: red; 
}


.corner-number {
    position: absolute;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.corner-number-left {
    left: 10px;
    bottom: 10px;
}

.corner-number-right {
    right: 10px;
    bottom: 10px;
}

.bottom-number {
    position: absolute;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


